body {
  font-family:Monaco;
  color:#282828;
  font-size:17.5px;
  text-align: left;
  background-image: url("../images/pattern.jpg");
  background-size:cover;
  background-repeat:no-repeat;
}

nav {
  font-size: 13px;
  text-align: center;
  background: #282828;
  border: 3px double white;
  word-spacing: 30px;
  padding: 10px 16px;
}

a:link {
  color:white;
  text-decoration: none;
  padding: 14px 16px;
  text-transform: uppercase;
}

a:visited {
  color:white;
  text-decoration: none;
  padding: 14px 16px;
  text-transform: uppercase;
}

a:hover {
  text-decoration: none;
  background-color: #D8D8D8;
  text-transform: uppercase;
  padding: 10px 16px;
  color: #282828;
}



ol {
  text-align: center;
  list-style-position: inside;
}


.container {
  
  margin: 0 auto;
  
  padding-left: 30px;
  
  padding-right: 30px;
  
  width: 960px;
}

header {
  font-size: 38px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  font-weight: bold;
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
  font-family: Impact
}

.img {
  padding:1px;
  border:1px solid black;
  background-color:white;
  float: left;
}